@CHARSET "UTF-8";

/* ÃªÂ³ÂµÃ­â€ ÂµÃ«Â¶â‚¬Ã«Â¶â€ž */
.ad-consent {
	width: 25px;
	height: 25px;
}

/* .page-item.active .page-link {
	background-color: #9a9494;
	border-color: #9a9494;
} */
.labelCheck:hover input ~ .checkmark {
	background-color: #3ae660;
}
.menu-header {
	background-color: #3caa69!important;
}

.admin-header {
	background-color: #3caa69;
}
/* am-h Ã«Â¶â‚¬Ã«Â¶â€ž*/
div.am-h-title>h1 {
	float: left;
	font-weight: 500;
}

div#am-h-htn-form:after {
	content: "";
	display: block;
	clear: both;
}

div#am-h-htn-form {
	width: auto;
	float: right;
}

button.btn.btn-search {
	background-color: #2ab848;
	height: 41px;
	width: 40px;
	color: white;
	margin-left: 10px;
}

.admin-pagination {
	display: inline-block;
}

.pagination-ad {
	float: left;
}

.pagination-ad li {
	float: left;
}

/* ÃªÂ³ÂµÃ­â€ ÂµÃ«Â¶â‚¬Ã«Â¶â€ž end  */
.am-h-content>label {
	margin: 0;
	padding-top: 8px;
	padding-right: 15px;
}

.ab-container {
	
}

div.container.ab-container>div>div {
	
}

.admin {
	background-color: #eaeaea;
	/* height: calc(100% - 101px); */
	min-height: 717px;
}

.content {
	padding: 50px;
}

.am-h-btn {
	background: white;
	color: green;
	border: 1.4px solid green;
	text-align: center;
	padding: 8px 18px 8px 18px;
}

.am-h-title:after {
	content: "";
	display: block;
	clear: both;
}

#am-h-htn-form>button {
	float: right;
}

.am-h-content-wrapper {
	border: 1px solid;
	background: #ffffff;
	padding: 30px;
	margin-top: 25px;
}

.labelCheck span:nth-child(3n) {
	margin-left: 33px;
}

.am-h-state li input[type="checkbox"] {
	display: inline;
}

.am-h-state li {
	width: 95px;
	float: left;
}

ul.am-h-state:after {
	content: "";
	display: block;
	clear: both;
}

.am-h-state-wrap:after {
	clear: both;
	content: "";
	display: block;
}

.am-h-label {
	float: left;
	font-weight: bold;
}

.am-h-content {
	margin-bottom: 15px;
}

.am-label-wrap {
	margin-right: 20px;
	height: 30px;
	float: left;
}

tr td input[type="checkbox"], tr th input[type="checkbox"] {
	display: inline;
}

div.am-ab-t-set>button {
	border-radius: 40%;
	border: none;
	float: right;
	padding: 5px 10px 5px 10px;
	color: white;
	background-color: #888585;
}

ul.am-h-state {
	float: left;
}

/* am-h end */
.am-ab {
	padding: 10 48px;
}

.am-ab-table-wrap {
    margin-top: 15px;
}

div.am-ab-t-set>button {
	float: right;
}

.am-ab-t-set:after {
	display: block;
	content: "";
	clear: both;
}

.ab-table {
	width: 100%;
}

tr.ad-table-header {
	background-color: #e4e4e4;
	color: #808080;
}

.ad-table-header th {
	padding: 20px 10px 20px 15px;
	text-align: center;
}

.ad-table-header th:first-of-type {
	text-align: unset !Important;
}

tr.ad-table-body {
	background-color: #ffffff;
	font-size: 13px;
	border-bottom: 1px solid #cccccc;
}

tr.ad-table-body td {
	padding: 10px 0px 10px 0px;
	text-align: center;
	font-weight: 500;
}

.blackListTableBody {
	border-bottom: 1px solid #cccccc;
	background-color: #ffffff;
}

.blackListTableBody td {
	padding: 8px 10px 8px 10px;
	text-align: center;
	font-weight: 500;
	font-size: 15px;
}

tr.ab-table-body.blackListTableBody>td:first-of-type {
	text-align: unset !important;
}

button.ad-m-btn {
	background-color: #9a9494;
	color: white;
	font-size: 15px;
	padding: 4px 15px 4px 15px;
}

div.am-ab-title>label {
	font-size: 24px;
	margin: 0;
	color: #808080;
}

div.am-ab-mani>div>button:nth-child(3) {
	float: right;
}

.am-ab-btn-form {
	margin: 30px 0 80px 0px;
}

.am-ab-title {
	width: auto;
	float: left;
	margin-bottom: 20px;
}

.am-ab-t-set {
	width: auto;
	float: right;
	margin-top: 10px;
}

/*blackList*/
.select-styled:after {
	border-color: #9a9494 transparent transparent transparent;
}

.select-styled:active:after, .select-styled.active:after {
	border-color: transparent transparent #9a9494 transparent;
}

.select:after {
	content: "";
	display: block;
	clear: both;
}

.am-ab-title-right {
	width: auto;
	float: right;
	display: inline-flex;
}

.am-ab-title-right .select .select-options li {
	padding: 12px 0 12px 10px !important;
}

div.am-ab-title-searchForm>button {
	float: right;
	height: 41px !important;
	border: none;
	border-radius: 0px;
	margin: 0px !important;
}

div.am-ab-title-searchForm>input[type="text"] {
	padding: 8px 40px 6px 18px;
	width: 200px;
	height: 41px;
}

div.am-ab-title-selectForm>div>div {
	background: white;
	border: 1px solid #a9a9a9;
}
/*  asd */
.am-h-row-left:after {
	content: "";
	display: block;
	clear: both;
}

.am-h-row-left {
	float: left;
	width: 100px;
}

.am-h-row-right {
	height: 32px;
	width: calc(100% - 100px);
}

.am-h-label-wrap {
	display: inline-block;
	width: 100%;
}
/*memberList*/
.memberList-table-header {
	background-color: #5bca64 !important;
	color: black !important;
}

.ab-table .select-options>li {
	padding-right: 10px;
}
/*Ã¬Â¶â€ÃªÂ°â‚¬ Ã«Â¶â‚¬Ã«Â¶â€ž*/
label.am-h-label-calendar {
	line-height: 38px;
	float: left;
	padding-right: 14px;
	font-weight: bold;
}

span.admin-calender-form-span {
	padding: 0px 5px 0px 5px;
}

.dy-calendar-check {
	font-size: x-large;
	position: absolute;
	bottom: 5px;
}

.admin-calender-form input[type="text"] {
	width: 136px;
	height: 35px;
	border: 1.5px solid #cccccc;
}

.doyoung-search-icon {
    border: 1.9px solid #3caa69;
    background: #3caa69;
	padding: 5px;
	color: white;
}

.doyoung-input-search-input {
	float: left;
	width: 300px;
	height: 30px;
}

span.am-h-title-span {
	font-size: 33px;
	font-weight: 100;
}

.am-btn-memberView {
	background: #3caa69;
	border-radius: 7.5px;
	padding: 9px 15px;
	color: white;
	border: none;
}

.ad-btn {
	background-color: #cccccc;
	width: 100px;
	height: 39px;
	color: white;
	border: none;
}

button.ad-btn.ad-m-btn-delete {
	background-color: #ff4747;
}

button.ad-btn.ad-m-btn-create {
	background-color: #3caa69;
}

.am-h-content .consent .labelCheck {
	min-width: 70px;
}

.admin-calender-form {
	position: relative;
}

span.admin-calender-form-span:nth-child(4) {
	margin-left: 25px;
}

.consent {
	margin: 0 auto;
}

.ad-table-body td:first-child {
	padding-right: 17px;
}

.test-kinds-ul {
	padding: 0;
}

.am-tabs {
	margin-bottom: 33px;
}

.am-tabs li a {
	font-size: 21px;
	transition: 0.3s;
	font-weight: bold;
}

.am-tabs>li>a::after {
	content: "";
	background: #3caa69;
	height: 2px;
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: -1px;
	transition: all 250ms ease 0s;
	transform: scale(0)
}

ul.am-tabs li.active {
	color: #3caa69;
}

.am-tabs li {
	padding: 10px 20px 20px 10px !important;
	position: relative;
}

.am-tabs>li.active>a::after, .am-tabs>li:hover>a::after {
	transform: scale(1);
}

.ad-grid-container {
	/* display: grid; */
	display: inline-block;
	width: 100%;
	/* grid-template-columns: 100px calc(100% - 100px); */
	height: 44px;
	position: relative;
}

.ad-tab-content {
	padding: 0px;
}

.ad-Classification {
	background-color: #e1e1e1;
	position: relative;
	/* overflow:  hidden; */
	float: left;
	width: 100px;
	height: 100%;
	padding-top: 18px;
	text-align: center;
}

.ad-member-information {
	position: relative;
	float: left;
	width: calc(100% - 100px);
	height: 60px;
	padding: 18px;
}

div.ad-grid-container>div>span {
	font-weight: bold;
}

.ad-grid-container:first-child, .ad-grid-container:last-child {
	height: 60px;
}

.ad-grid-container:last-child span {
	top: calc(50% - 8.39px);
}

.tab-content.ad-tab-content {
	border-left: none;
	border-right: none;
}

button.ad-btn.ad-m-btn-notice {
	background-color: #ead200;
	color: black;
	font-weight: bold;
}

button.ad-btn.ad-m-btn-sms {
	background-color: #3caa69;
	font-weight: bold;
}

button.ad-btn.ad-m-btn-list {
	background-color: white;
	font-weight: bold;
	color: black;
}

button.ad-btn.ad-m-btn-blacklist {
	background-color: #454444;
	width: 130px;
}

.ad-color-red {
	color: red;
}

button.ad-table-delete-btn {
	background-color: #ff4444;
	border: #ff4444;
	color: white;
	padding: 8px 20px;
	border-radius: 14%;
}

.right {
	float: right;
	margin-right: 4px;
}

button.ad-blackList-btn {
	background-color: #7b7676;
	padding: 9px 7px;
	border-radius: 8%;
	border: none;
	color: white;
}

.ad-grid-container:first-child div {
	padding-top: 30px;
}

.ad-grid-container:last-child div {
	padding-top: 17px;
}

.ad-grid-container:last-child {
	height: 70px;
}

.ad-marginTop {
	margin-top: 50px;
}

button.ad-review-btn.btn {
	background-color: #3caa69;
	color: white;
	border-radius: 7%;
	padding: 7px 11px;
}

/*MODAL*/
div#admin-review ~ div {
	opacity: 0;
}

.cancel-btn-form {
	/* width: auto; */
	width: 100%;
	float: right;
}

.modal-header.admin-modal-header {
	display: inline-block;
	border: none;
}

.admin-header-text {
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	padding: 15px;
}

.admin-header-text hr {
	font-weight: bold;
	border: 0;
	height: 2px;
	background: #ccc;
	margin-bottom: 0px;
	margin-top: 8px;
}

.admin-modal-title {
	margin: 0px;
}

.modal-content.admin-modal-content:before {
	content: "";
	background: #3caa69;
	height: 14px;
	width: 100%;
	border: 9px solid #3caa69;
}

.modal-body.admin-modal-body {
	padding: 0px 28px;
}

.admin-modal-footer {
	width: calc(100% - 186px);
	position: relative;
	border: none;
}

.modal-cancel-btn {
	text-align: center;
	padding: 9px 36px;
	background-color: #3caa69;
	border: none;
	color: white;
}

.admin-modal-content {
	width: 100%;
	font-weight: bold;
}

.admin-modal-contents {
	display: inline-flex;
	display: -ms-inline-flexbox;
}

.admin-reviewScoreBox svg {
	height: 25px;
}

.admin-modal-contents {
	padding: 5px 15px 5px 25px;
	width: 100%;
	font-weight: bold;
}

.admin-review-subject {
	width: 80px;
}

.admin-review-score {
	width: calc(100% - 100px);
}

textarea.admin-review-content-textarea {
	background-color: #f4f4f4;
	width: 100%;
	height: 100px;
}

.consent.admin-modal-consent {
	width: calc(( 100% - 100px)/2);
	margin: 0px;
	float: left;
	margin-right: 40px;
	margin-bottom: 10px;
}

.content-etc input[type="text"] {
	border: none;
	border-bottom: 2px solid #cccccc;
}

.admin-review-content {
	margin-top: 20px;
}

.admin-consent {
	height: 25px;
	width: 25px;
}

button.super-btn {
	background-color: #2da5e1;
}

span.admin-test-complete {
	color: aqua;
}

span.admin-test-Recruiting {
	color: blue;
}

span.admin-test-recruited {
	color: coral;
}

.admin-function-btn-Form {
    display:  inline-block;
}

.admin-function-btn-Form > button {
    float: left;
    margin-right: 4px;
    /* padding-right: 1px; */
}
/* 팝업 관리 */
.admin-pop_up-container {
	display: inline-block;
}

.am-admin-pop_up-left {
	float: left;
	width: 200px;
	/* padding: 0px 10px 1px 11px; */
}

.am-admin-pop_up-right {
	float: left;
	width: calc(100% - 250px);
	height: auto;
	margin-left: 50px;
}

.am-admin-image-wrapper {
	border: 1px solid black;
	height: 200px;
	width: 200px;
	/* margin-right:  30px; */
}

input.admin-inupt-underline {
	width: 85px;
	border: none;
	border-bottom: 1px solid #9a9696;
}

.am-admin-image-btn-wrapper {
	text-align: center;
	margin-top: 20px;
}

.admin-pop_up-container {
	width: 100%;
}

div.am-admin-pop_up-right>div:nth-child(3)>div>input[type="text"] {
	width: 100px;
}

div.am-admin-pop_up-right>div:nth-child(3)>div>span {
	font-size: 13px;
}

button {
	
}

.am-admin-image-btn-wrapper>button {
	color: E4E4E4;
	border: 2px solid E4E4E4;
}

.am-admin-pop_up_content-wrap {
	width: 100%;
	font-weight: bold;
	padding: 17px 0;
}

.admin-pop_up-container {
	width: 100%;
}

.admin-clear{
	clear: both;
    display: block;
}

th.admin-agree-check:after {
    content: "수신동의여부";
}

/* 미디어 태그 시작  */
@media screen and (max-width:991px) {
	.subP_admin {
		width: 100%;
	}
	.admin_x-sidebar {
		display: none;
	}
	button.ad-blackList-btn {
		padding: 6px 6px;
	}
	.ad-table-header th {
		padding: 20px 3px 20px 5px;
	}
	.ad-btn {
    	width: 87px;
    	height: 32px;
	}
	.subP_admin .menu-header li>a {  
		padding: 0 17px !important;
		font-size: 15px !important;
	}
}

@media screen and (min-width:992px) and (max-width:1199px) {
}

@media screen and (max-width:1199px) {
	.ad-table-header th {
 	   font-size: 15px;
}
	.blackListTableBody td {
		font-size: 13px;
	}
	.subP_admin .menu-header li>a {
		padding: 0 20px;
		font-size: 15px;
	}
	button.ad-blackList-btn {
		padding: 11px 6px;
	}
	.content {
    padding: 50px 25px;
	}
	button.ad-review-btn.btn {
    	padding: 5px 11px;
	}

	th.admin-agree-check:after {
    	content: "수신동의";
	}
	.am-admin-image-wrapper {
    	height: 150px;
    	width: 150px;
	}

	.am-admin-pop_up-left {
	    width: 150px;
	}
	
	.am-admin-pop_up_content-wrap {
    	width: 100%;
    	font-weight: bold;
    	padding: 11px 0;
    	font-size: 14px;
	}
	
	.admin-pop_up-content{
		padding: 11px;
	}
	.am-ab {
    	padding: 10 15px;
	}
	div.am-ab-title>label {
    	font-size: 19px;
	}
	
	.am-ab-title {
    margin-bottom: 19px;
    margin-top: 9px;
}
	
	.admin-function-btn-Form > button {
    font-size: 10px;
    padding: 6px 6px;
    }
	
	
}