@CHARSET "UTF-8";

@media screen and (min-width:320px) and (max-width:374px) {
}

@media screen and (max-width:343px) {
	section:not (.another) {
		padding: 15px 5% !important;
	}
}

@media screen and (min-width:375px) and (max-width:424px) {
	section.advertisement {
		min-height: 215px;
	}
}
	
@media screen and (max-width:424px) {
	
	.containerBox {
		padding:22px 0px;
	}
	
	section.another p>br {
		display: contents;
	}
	.mobile-about-us {
		display: block;
		padding: 15px !important;
	}
	.advertisement .adsection-mobile {
		left: 2.5%;
	}
	section.advertisement {
		
	}
	.advertisement .adsection-mobile {
		left: 0%;
		width: 100%;
		padding: 0px 5%;
	
	}
	
	.advertisement .adsection-mobile h2 {
		font-size: 23px;
		margin-bottom: 3px;
		line-height: 35px;
	}
	section:not(.another) {
		padding: 45px 5%;
	}
	
		section.hoverDiv {
		padding: 45px 0;
	}
	
	.advertisement .adsection {
		display: none;
	}
}

@media screen and (max-width:425px) {
	.img-box {
		padding:0 12%;
	}
.img-box .img-set3 {
		width:100%;
		margin-right:0;
		margin-bottom:15px;
	}
	.overlay-wrap {
		width: 100%;
	}
	
	.hoverDiv .img-box .img-set3 img {
		padding:0;
	}
	.img-set3 .overlay-wrap .overlay-item {
		top: calc(50% - 76px);
		padding: 0;
	}
	
	.recruit-header .input-search-box input {
		width:140px;
	}
	
}
@media screen and (min-width:425px) {
	
	.advertisement .adsection-mobile {
		display: none;
	}
}

@media screen and (min-width:425px) and (max-width:645px) {
	section:not(.another) {
		padding: 45px 4%;
	}
		section.hoverDiv {
		padding: 45px 0;
	}
	
	
	.hoverDiv .img-box {
		padding:0 20px;
		width: 60%;
		margin: 50px auto 0px;
	}
	.hoverDiv .img-box .img-set3 img {
		padding:0;
	}
	
	.img-set3 .overlay-wrap .overlay-item img {
		padding:0;
		width:60px;
		margin-bottom:8px;
	}
	
	.img-set3 .overlay-wrap .overlay-item {
		top:calc(50% - 68px);
		padding:0 5px;
	}
	.img-set3 .overlay-wrap .overlay-item h2.mobile {
		font-size:16px;
		margin-bottom:5px;
	}
	
	.img-set3 .overlay-wrap .overlay-item span.mobile {
		font-size:12px;
	}
	
	
	
	
	
	
}

@media screen and (max-width:480px) {
	.mobile_show {
		display: block;
	}
	.owl-carousel .owl-item img {
		min-height: 180px;
	}
	section.incarousel {
		display: none;
	}
}

@media screen and (max-width:575px) {
	.brand-logo {
		margin-left: 16px;
	}
	.owl-carousel .owl-item img {
		
	}
	.carousel-overlay span>br {
		display: contents;
	}
	.carousel-overlay h2:last-of-type {
		display: none;
	}
	.carousel-overlay h2 {
		font-size: 26.5px;
		margin-bottom: 5PX;
	}
	.carousel-overlay span {
		font-size: 14.5px;
	}
	div.carousel-overlay-wrap {
		
	}
	div.owl-theme .owl-dots {
		
	}
	div.carousel-overlay-wrap .carousel-overlay {
		top: calc(40% - 40.5px);
	}

	
	.tab-content .tab-pane p {
		width: 75%;
		/* display: none; */
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	.tab-content .tab-pane span {
		width: 25%;
		/* display: none; */
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	.slogan-box .slogan .slogan-content {
		padding: 25px 5px;
	}
}

@media screen and (min-width:576px) {
	.containerBox {
    max-width: 540px;
  }
}

@media screen and (min-width:576px) and (max-width:645px) {
	div.carousel-overlay-wrap .carousel-overlay {
	
	}
	div.owl-theme .owl-dots {
		
		
	}
	div.carousel-overlay-wrap {
		
	}
	.carousel-overlay h2 {
		font-size: 28px;
	}
	.carousel-overlay span {
		font-size: 16px;
	}
	div.carousel-overlay-wrap {
		
	}
}

@media screen and (min-width:576px) and (max-width:767px) {
	.uber-section {
		width: 540px;
	}
}

@media screen and (min-width:768px) {
	  .containerBox {
    max-width: 720px;
  }
}

@media screen and (min-width:768px) and (max-width:991px) {
	
	.table tbody>tr>td .secondBox .clear h6 {
		width:370px;
	}
	
	.img-set3 .overlay-wrap .overlay-item {
		padding:0;
		top: calc(50% - 73px);
	}
	.img-set3 .overlay-wrap .overlay-item h2 {
		font-size:16px;
		margin-bottom:7px;
	}
	
	.img-set3 .overlay-wrap .overlay-item span {
		font-size:14px;
	}
	.uber-section {
		width: 720px;
	}
	
	.advertisement .adsection.num1 {
		padding: 0 3.75%;
	}
	
	.advertisement .adsection.num2 {
		padding: 0 3.75%;
	}
}

@media screen and (min-width:992px) {
	.containerBox {
		max-width:960px;
		padding:22px 0;
	}div.carousel-overlay-wrap .carousel-overlay {
		top:calc(45% - 74px);
	}
	
	.item-grid .item-set:nth-of-type(3n) {
	margin-right: 0;
	}
	.item-grid .item-set {
	width: 32.3%;
	margin-right: 1.5%;
	float: left;
	margin-bottom: 25px;
	border-left: 10px solid #3caa69;
	
}

.x-sidebar {
	
}

div.subP {

}

}
@media screen and (min-width:992px) and (max-width:1199px) {
	.uber-section {
		width: 960px;
	}
}

@media screen and (min-width:1200px) {
	.uber-section {
		width: 1140px;
	}
	.hash_info span:last-of-type {
		display:block;
	}
	.containerBox {
		max-width:1140px;
	}
}

@media only screen and (max-width: 645px) {

	
	.advertisement .adsection h2.second {
		font-size:16px;
	}
	section.another {
		padding: 8% 4% 8%;
	}
	section.incarousel {
		padding: 25px 7% 60px !important;
	}
	.carousel-overlay h2:last-of-type {
		margin-bottom: 8px;
	}
	div.owl-theme .owl-dots {
		bottom: 5%;
	}

	/*오브젝트 디스플레이*/
	.img-box .img-set4 {
		width: 48%;
	}
	.img-box .img-set4:nth-of-type(2n) {
		margin-right: 0;
	}
	.advertisement .adsection.num1 {
		left: 0;
		padding: 0 5%;
	}
	
	.advertisement .adsection.num2 {
		left: 0%;
		padding: 0 5%;
	}
	.advertisement .adsection h2 {
		font-size: 23px;
		margin-bottom: 3px;
	}
	.advertisement .adsection p {
		
	}
	.advertisement .adsection a {
		margin-top:25px;
	}
	div.subP {
		padding:0 10px;
	}
}

@media only screen and (min-width: 646px) and (max-width: 767px) {
	
		
		.img-set3 .overlay-wrap .overlay-item {
      padding:0;
      top: calc(50% - 68px);
   }
   .img-set3 .overlay-wrap .overlay-item h2 {
      font-size:14px;
      margin-bottom:4px;
   }
   
   .img-set3 .overlay-wrap .overlay-item span {
      font-size:13px;
   }
		
		.advertisement .adsection.num2 {
		right: 0;
		width: 450px;
		left: calc(60.5% - 225px);
		padding: 0 3.5%;
	}
			.advertisement .adsection.num1 {
		left: calc(67.5% - 200px);
		width: 400px;
		right: 0;
		padding: 0 3.5%;
	}
	.containerBox {
		padding:22px 0px;
	}
	
	.hash_info .hash:nth-of-type(3) {
		display:none;
	}
	
	.slogan-box .slogan .slogan-content {
		padding: 25px 38px;
	}
	.advertisement .adsection {
		top: 50;
		left: 30%;
	}
	div.owl-theme .owl-dots {
		
	
	}
	div.carousel-overlay-wrap .carousel-overlay {
		position: relative;
	
	}
	.carousel-overlay h2 {
		font-size: 31.5px;
	}
	.carousel-overlay span {
		font-size: 16.8px;
	}
	.carousel-overlay h2:last-of-type {
		margin-bottom: 5px;
	}
	section.another {
		padding: 8% 2.5% 8%;
	}
}

@media only screen and (min-width: 646px) and (max-width: 991px) {
	
	div.carousel-overlay-wrap {
		
	}
		section:not(.another) {
		padding: 70px 4%;
	}
	
		section.hoverDiv {
		padding: 70px 0;
	}
	
	.item-grid .item-set {
	width: 48%;
	margin-right: 2%;
	float: left;
	margin-bottom:25px;
}

.item-grid .item-set:nth-of-type(2n) {
	margin-right: 0;
	}
	
}

@media screen and (min-width:425px) and (max-width:1483px) {
	.advertisement .adsection h2 > br {
		display:block;
	}
	
	.advertisement .adsection h2 {
		line-height:1.41;
	}

}

@media only screen and (max-width: 767px) {
	.img-set3 .overlay-wrap .overlay-item span.mobile {
		display:block;
	}
	
	.img-set3 .overlay-wrap .overlay-item span.normal {
	display:none;
	}
	
	.img-set3 .overlay-wrap .overlay-item h2.mobile {
		display:block;
	}
	
	.img-set3 .overlay-wrap .overlay-item h2.normal {
	display:none;
	}
	
	
	footer div.content-left {
		width: 100%;
		float: left;
	}
	footer div.content-right {
		width: 100%;
		float: left;
	}
	
	.recruit-list {
		padding: 0 15px;
	}
	.about-us {
		display: none !important;
	}
	section .notice {
		width: 100%;
		margin-bottom: 35px;
	}
	.row .slogan-box {
		width: 100%;
	}
	.mobile-about-us {
		display: block;
		padding: 5%;
	}
	
	.tab-hashtag ul {
		width:calc(100% - 160px);
		border-right:1px solid #a7a7a7;
	}
	
	.tab-hashtagTab {
			display:block;
	}

	.table tbody>tr>td .secondBox .clear h6 {
		max-width:170px;
	}
	
	
	.recruit-header button:first-child {
		margin-right:10px;
		padding:6px 12px;
	}
	.recruit-header .input-search {
		padding:8px 2px 8px 18px;
		height:43px;
	}
	
	.recruit-header .input-search-box {
		margin-right:5px;
	}
	
	.select-styled {
		padding:8px 28px 8px 18px;
		height:43px;
	}
	
	.tab-hashtag .searchRecruit {
		display:none;
	}
	
	.mobileButton {
		display:block;
	}
	
	.w100 {
		width:100%;
	}
	.recruit-box .table tbody>tr>td:nth-of-type(4) {
		display:none;
	}
	.recruit-box .table thead>tr>th:nth-of-type(4) {
	display:none;
	}
	.recruit-box .table tbody>tr>td:nth-of-type(5) {
		display:none;
	}
	.recruit-box .table thead>tr>th:nth-of-type(5) {
	display:none;
	}
.recruit-box .table tbody>tr>td.mobileTd {
		display:table-cell;
		min-width:70px;
		vertical-align:middle;
		text-align:unset iImportant;
		
	}
	.recruit-box .table thead>tr>th.mobileTh {
	display:block;
	}
	
	.recruit-box .table tbody>tr>td:first-of-type {
		display:none;
	}
	.recruit-box .table thead>tr>th:first-of-type {
	display:none;
	}

	
	
}

@media only screen and (max-width: 645px) {
	.recruit-list .search-area {
		width: 80%;
	}
	.recruit-list .search-icon {
		width: 20%;
	}
	
	
	.item-grid .item-set {
		margin-bottom:25px;
	}
	
	.item-grid .item-set.mobile {
		display:none;
	}
	
	.img-box .img-set3 {
		width:100%;
		margin-right:0;
		margin-bottom: 25px;
	}
	
	.recruit-box .select-group {
		clear:both;
		margin:30px 0 10px;
	}
	
	.recruit-header button:first-child {
		margin-right:5px;
		padding:6px 4px;
	}
	.recruit-header .input-search-box {
		margin-right:5px;
	}
	.recruit-header .input-search {
		padding:8px 0px 8px 4px;
	}
	.recruit-box .select-group {
		clear:both;
		margin:30px 0 10px;
	}
	
	.recruit-box {
		padding:0 8px;
	}
	.labelCheck {
		margin-bottom:6px;
		margin-right:3px;
	}
	
	
}


@media only screen and (min-width: 646px) {
	section.advertisement {
		min-height: 280px;
	}
	

	
	
}
@media screen and (min-width:646px) and (max-width:767px) {

		.img-set3 .overlay-wrap .overlay-item {
	top: calc(50% - 53.5px);
	}
	.img-set3 .overlay-wrap .overlay-item img {
	width: 40px;
	margin-bottom: 7px;
	}
	.img-set3 .overlay-wrap .overlay-item h2 {
	}
	
}
	
	

@media only screen and (max-height: 642px) {
	.fixedMobile {
		
		overflow-y:scroll;
		height:100%;
	}
}

@media screen and (min-width:768px) and (max-width:830px) {
	.advertisement .adsection.num1 {
		left: 42%;
		top: 50;
	}
	.advertisement .adsection.num2 {
		left: 36%;
		top: 50;
	}
}

@media screen and (min-width:830px) and (max-width:991px) {
	.advertisement .adsection.num1 {
		left: 45%;
		top: 50;
	}
	.advertisement .adsection.num2 {
		left: 40%;
		top: 50;
	}
}


@media screen and (min-width:768px) and (max-width:991px) {
	
	
	footer div.content-left {
		width: 50%;
		float: left;
	}
	footer div.content-right {
		width: 50%;
		float: left;
	}
	.carousel-overlay h2 {
		font-size: 31px;
	}
	.carousel-overlay span {
		font-size: 19.5px;
	}
	
	div.owl-theme .owl-dots {
		
	}
	div.carousel-overlay-wrap .carousel-overlay {
		position: relative;
		
	}
	.carousel-overlay h2>strong {
		
	}
	 .tab-content .tab-pane p:nth-of-type(7) {
		display: block;
	}
	.tab-content .tab-pane p:nth-of-type(8) {
		display: block;
	}
	
	.tab-content .tab-pane span:nth-of-type(7) {
		display: block;
	}
	.tab-content .tab-pane span:nth-of-type(8) {
		display: block;
	} 
}

@media screen and (max-width:991px) {
	.brand-logo-s {
		display: none;
	}
	footer {
		padding-top: 0;
	}
	footer div>h2 {
		margin-bottom: 10px;
	}
	.slogan-box .slogan .slogan-content p {
		margin: 0;
		padding-top: 5px;
	}
	.slogan-box .slogan .slogan-content h2 {
		font-size: 20px;
		line-height: 32px;
		margin: 0;
		padding: 0;
	}

	.row .slogan-box {
		padding: 0 10px;
	}
	section .notice {
		padding: 0 10px;
	}
	.slogan-box .slogan .slogan-img img {
		padding: 25px 15px;
	}
	.slogan-box .slogan .slogan-content>div {
		word-break: normal;
	}
	.slogan-box .slogan .slogan-content {
		padding: 25px 8px;
	}
	.owlc2 .owl-nav.disabled {
		display: block !important;
	}
	.carousel-overlay h2 {
		padding-bottom: 3px;
	}
	.brand-logo {
		margin-bottom: 8px;
	}
	nav {
		padding-top: 12px;
		padding-bottom: 4px;
	}
	ul.ul-theory .uber {
		display: none;
	}
	.ul-theory {
		display: none;
		padding: 10px 0 0;
		width: 100%;
	}
	.ul-theory>li:hover>ul.drop-menu {
		display: none;
	}
	.ul-theory>li {
		text-align: center;
		width: 50%;
	}
	#mobilemenu {
		display: block;
		float: right;
		font-size: 30px;
		padding: 8px 16px;
		margin-bottom: 8px;
	}
	header {
		display: none !important;
	}
	ul.ul-theory .mobile-join {
		display: block;
	}
	ul.ul-theory li > a {
		text-align:center;
	}
	
	
	.x-sidebar {
		display:none;
	}

	div.subP {
		width:100%;
		float:right;
		
	}
	
	
	
}




section.another {
	padding: 5.8% 15% 5.8%;
}


}

@media screen and (min-width:768px) and (max-width:1199px) {
	.tab-content .tab-pane p {
		width: 75%;
		/* display: none; */
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	.tab-content .tab-pane span {
		width: 25%;
		/* display: none; */
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	
	
}

@media screen and (min-width:992px) and (max-width:1199px) {
	
	.slogan-box .slogan .slogan-content > div {
		word-break:normal;
	}
	.slogan-box .slogan .slogan-content h2 {
		line-height:35px;
		font-size:23px;
	}
	.slogan-box .slogan .slogan-content {
		padding:25px 20px;
	}
	.item-grid .item-set .item-set-in {
		padding:13px 10px;
	}
	section:nth-of-type(3) {
		padding:65px 15px;
	}
	
	.img-set3 .overlay-wrap .overlay-item {
			top:calc(57.5% - 92px);
			padding:0px 10px;
	}
	.table tbody>tr>td .secondBox .clear h6 {
		width:345px;
	}
	
	
	
	
	

}
	@media screen and (min-width:1199px) {
	.advertisement .adsection {
		padding:0 45px;
	}
	
	.table-text span.date {
		display:block;
	}
	
}
